.navigation{
    /* border-color:aquamarine ;
    border-style: dashed; */
    padding: 0 8px;
    height: 72px;
    display: flex;
  justify-content: space-between;
  align-items:center;
  
  }
  
  .abc{
    display: flex; 
    gap: 54px;
    border-color: 1px solid blue;
    padding-right: 5rem;
  
  }
  
  .abc a{
    /* border-color: black; */
    text-decoration: none;
  
  }
  .logo img{
  max-width: 3rem;

  }
  
  
  